.contract-container {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  height: 100vh;
  aspect-ratio: 210/297;
}

.contract {
  filter: drop-shadow(5px 5px 10px hsla(0, 0%, 0%, 0.15));
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.contract-highlight {
  opacity: 0;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: 1;
  mix-blend-mode: difference;
}

.envelope {
  width: 30vw;
  height: 100%;
}
