@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
    font-family: 'Roboto Slab', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    background-color: #090913;
    -ms-overflow-style: none; 
}
body::-webkit-scrollbar {
    display: none;
}

/* 劇情長度 */
section.section-landing { height: 100vh; background-color: #090913; }
section.section-story-missh { height: 500vh; }

/* Shared Styles */
.caption-container {
    overflow: visible;
    top: 0;
    left: 0;
    height: auto;
    z-index: 10;
}
p.caption {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(10px);

    &.normal {
        width: 320px;
        color: hsla(0, 0%, 100%, 0.7);
        background-color: hsla(0, 0%, 100%, 0.02);
        border-radius: 10px;
        padding: 10px 14px 14px 14px;
        border: solid hsla(0, 0%, 100%, 0.1);
        border-width: 1px 0 0 1px;
    }
}
.audio-handler-full {
    position: absolute;
    right: 50vw;
    transform: translate(50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #F1F1F1;
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0;
    width: 100%;
}
.audio-handler-simple {
    position: fixed;
    top: 30px;
    right: 50vw;
    transform: translate(50%, 0%);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

/* MissH */
.missh-character {
    position: absolute;
    top: 100vh; /* landing Section height*/
    width: 100%;
    height: 100%;
}
.missh-character-rive {
    height: 30vh;
    transform: translate(0%,-100%);
}
.missh-background {
    position: absolute;
    top: 100vh;
    left: 50%;
    height: 100vh;
    width:calc(100vh * 21 / 9);
    z-index: -1;
    transform: translate(-50%,0%);
}
.missh-background-rive {
    height: 100vh;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
}

/* Phone In Component */
.phone-in {
    width: 390px;
    height: 100px;
    left: 50%;
    transform: translate(-50%,0%);
}
.phone-in-rive {
    height: 100%;
    width: auto;
}
.phone-in-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    border-radius: 100px;
    border: solid 0px hsla(0, 0%, 100%, 0.05);
    box-shadow: inset 1px 1px 4px 0 hsla(0, 0%, 100%, 0.2);
    z-index: -1;
    opacity: 1;
}

/* GSAP Functionality Settings */
.gsap-marker-start, .gsap-marker-end { font-size: 12px !important; opacity: 0.3; }
.gsap-marker-scroller-start, .gsap-marker-scroller-end { font-size: 12px !important; }

#smooth-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  width: 100%;
}

 