@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Slab:wght@100..900&family=Noto+Serif+TC:wght@100..900&display=swap');
@import url('./noise.css');

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
    font-family: 'Roboto Slab', 'Noto Sans TC', sans-serif;
    font-size: 16px;
    background-color: #090913;
    -ms-overflow-style: none; 
}
body::-webkit-scrollbar { display: none; }
:root {
    --phoneInWidth: 320px;
}

/* 劇情長度 */
section.section-landing { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
section.section-story-missh { height: 1000vh; }

/* Landing */
.landing-title {
    font-family: 'Roboto Slab', 'Noto Serif TC', serif;
    position: absolute;
    top: 33vh;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    h1 {
        font-size: 54px;
        font-weight: 800;
        color: #F1F1F1;
        text-align: center;
    }
    .subtitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        hr {
            width: 20%;
        }
        h2 {
            display: inline;
            font-size: 24px;
            font-weight: 600;
            color: #F1F1F1;
            text-align: center;
        }
    }
}
.landing-brief {
    position: absolute;
    top: 51vh;
    width: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 300;
    color: #F1F1F188;
    text-align: center;
    border-top: solid 1px #F1F1F188;
    border-bottom: solid 1px #F1F1F188;
    padding: 20px 0 24px 0;
}
/* Audio Handler */
.audio-handler-full {
    position: absolute;
    top: 62vh;
    right: 50vw;
    transform: translate(50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #F1F1F1;
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0;
    width: 100%;
    z-index: 10;
}
.audio-handler-simple {
    position: fixed;
    bottom: 50px;
    right: 50px;
    transform: translate(0%, 0%);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

/* MissH */
.missh-character {
    position: absolute;
    top: 100vh; /* landing Section height*/
    width: 100%;
    height: 100%;
}
.missh-character-rive {
    height: 30vh;
    transform: translate(0%,-100%);
}
.missh-background {
    position: absolute;
    top: 100vh;
    left: 50%;
    height: 100vh;
    width:calc(100vh * 21 / 9);
    z-index: -1;
    transform: translate(-50%,0%);
}
.missh-background-rive {
    height: 100vh;
    object-fit: cover;
}

/* Caption */
.caption-container {
    overflow: visible;
    top: 0;
    left: 0;
    height: auto;
    z-index: 10;
}
p.caption {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(10px);

    &.normal {
        width: 320px;
        color: hsla(0, 0%, 100%, 0.7);
        background-color: hsla(0, 0%, 100%, 0.02);
        border-radius: 10px;
        padding: 10px 14px 14px 14px;
        border: solid hsla(0, 0%, 100%, 0.1);
        border-width: 1px 0 0 1px;
    }
    &.none {
        width: 0px;
        color: hsla(0, 0%, 100%, 0);
    }
}

/* Phone In Component */
.phone-in {
    width: var(--phoneInWidth);
    height: 450px;
    left: 50%;
    transform: translate(-50%,0%);
    opacity: 0;
}
.phone-in-contact {
    opacity: 0.7;
    padding-bottom: 15px;
    h3 {
        font-size: 36px;
        font-weight: 500;
        color: #F1F1F1;
        text-align: center;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        color: #F1F1F1;
        text-align: center;
    }
}
.phone-in-rive {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: var(--phoneInWidth);
}
.phone-in-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: var(--phoneInWidth);
    height: 78px;
    backdrop-filter: blur(5px);
    border-radius: 100px;
    border: solid 0px hsla(0, 0%, 100%, 0.05);
    box-shadow: inset 1px 1px 4px 0 hsla(0, 0%, 100%, 0.2);
    z-index: -1;
    opacity: 1;
}
.dialogs {
    height: auto;
    width: calc(var(--phoneInWidth) * 1.2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    /* background-color: #090913; */
    .dialogIn {
        opacity: 0;
        text-align: left;
        border-radius: 10px;
        padding: 6px 10px 10px 10px;
        border: solid hsla(0, 0%, 100%, 0.1);
        border-width: 1px 0 0 1px;
        background-color: hsla(0, 0%, 100%, 0.02);
        width: fit-content;
        max-width: 80%;
        align-self: flex-start;
        backdrop-filter: blur(5px);
     }
     .dialogOut {
        opacity: 0;
        text-align: right;
        border-radius: 10px;
        padding: 6px 10px 10px 10px;
        border: solid hsla(0, 0%, 100%, 0.1);
        border-width: 1px 0 0 1px;
        background-color: hsla(0, 0%, 100%, 0.02);
        width: fit-content;
        max-width: 80%;
        align-self: flex-end;
        backdrop-filter: blur(5px);
     }
    p {
        font-size: 16px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.7);
    }
    span {
        font-size: 12px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.5);
    }
}


/* Message */
.messages {
    height: 300px;
    width: calc(var(--phoneInWidth) * 1.2);
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    .messageIn {
        opacity: 0;
        display: flex;
        flex-direction: row;
        gap: 5px;
     }
     .messageOut {
        opacity: 0;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        gap: 5px;
     }
     img.avatar {
        width: 38px;
        height: 38px;
        backdrop-filter: blur(5px);
        opacity: 0.5;
        align-self: flex-start;
        &.blank {
            opacity: 0;
        }
     }
    p {
        font-size: 16px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.7);
        border-radius: 20px;
        padding: 7px 13px 10px 13px;
        border: solid hsla(0, 0%, 100%, 0.1);
        border-width: 1px 0 0 1px;
        background-color: hsla(0, 0%, 100%, 0.02);
        width: fit-content;
        max-width: 90%;
        align-self: flex-start;
        backdrop-filter: blur(5px);
    }
    span {
        font-size: 12px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.2);
        align-self: flex-end;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
}

/* GSAP Functionality Settings */
.gsap-marker-start, .gsap-marker-end { font-size: 12px !important; opacity: 0.3; }
.gsap-marker-scroller-start, .gsap-marker-scroller-end { font-size: 8px !important; font-weight: 200 !important; opacity: 0.5; }
#smooth-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#smooth-content {
  min-height: 100vh;
  width: 100%;
}

 