@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
    font-family: 'Roboto Slab', 'Noto Sans TC', sans-serif;
    color: #333;
    font-size: 12px;
    background-color: #000;
}

section.section-story-missh {
    height: 500vh;
}

/* Shared Styles */
.caption-container {
    overflow: visible;
    /* scrollbar-width: none; */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
p.caption {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(10px);
    
    &.normal {
        width: 80%;
        color: hsla(0, 0%, 100%, 0.8);
        background-color: hsla(0, 0%, 0%, 0.1);
        border-radius: 10px;
        padding: 10px;
    }
}

/* MissH */
.missh-character {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
}

/* GSAP Functionality Settings */
.gsap-marker-start, .gsap-marker-end { font-size: 12px !important; opacity: 0.5; }
.gsap-marker-scroller-start, .gsap-marker-scroller-end { font-size: 0px !important; }

#smooth-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  width: 100%;
}

 