:root {
    --phone-height: 825px;
    --phone-width: 400px;
    --phone-roundness: 50px;
}

/* Phone */
.phone {
    height: var(--phone-height);
    width: var(--phone-width);
    background-color: hsla(0, 0%, 0%, 0.05);
    border-radius: var(--phone-roundness);
    box-shadow: inset 0 0 20px 0 hsla(0, 0%, 0%, 11);
    backdrop-filter: blur(20px);
    overflow: hidden;
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    left: 50%;
    top: 50vh;
    .phone-frame {
        width: 100%;
        height: 100%;
        border: 8px solid hsla(0, 0%, 90%, 1);
        border-radius: calc(var(--phone-roundness) * 0.95);
        position: relative;
        z-index: 10;
        pointer-events: none;
        .top-bar {
            width: 115px;
            height: 30px;
            background-color: hsla(0, 0%, 60%, 0.25);
            border-radius: 20px;
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translate(-50%, 0%);
            z-index: 2;
        }
        .bottom-bar {
            width: 130px;
            height: 6px;
            background-color: hsla(0, 0%, 60%, 0.25);
            border-radius: 20px;
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translate(-50%, 0%);
            z-index: 2;
        }
    }
}

/* Phone Calls */
.calls {
    width: var(--phoneInWidth);
    height: 450px;
    left: 50%;
    transform: translate(-50%,0%);
    opacity: 0;
}
.phone-in-contact {
    opacity: 0.7;
    padding-bottom: 15px;
    h3 {
        font-size: 36px;
        font-weight: 500;
        color: #F1F1F1;
        text-align: center;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        color: #F1F1F1;
        text-align: center;
    }
}
.calls-rive {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: var(--phoneInWidth);
}
.calls-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: var(--phoneInWidth);
    height: 78px;
    backdrop-filter: blur(5px);
    border-radius: 100px;
    border: solid 0px hsla(0, 0%, 100%, 0.05);
    box-shadow: inset 1px 1px 4px 0 hsla(0, 0%, 100%, 0.2);
    z-index: -1;
    opacity: 1;
}

/* Phone Call Dialogs */
.dialogs {
    height: auto;
    width: var(--phone-width);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    /* background-color: #090913; */
    .dialogRecieve {
        opacity: 0;
        text-align: left;
        border-radius: 10px;
        padding: 6px 10px 10px 10px;
        border: solid hsla(0, 0%, 100%, 0.1);
        border-width: 1px 0 0 1px;
        background-color: hsla(0, 0%, 100%, 0.02);
        width: fit-content;
        max-width: 80%;
        align-self: flex-start;
        backdrop-filter: blur(5px);
     }
     .dialogSent {
        opacity: 0;
        text-align: right;
        border-radius: 10px;
        padding: 6px 10px 10px 10px;
        border: solid hsla(0, 0%, 100%, 0.1);
        border-width: 1px 0 0 1px;
        background-color: hsla(0, 0%, 100%, 0.02);
        width: fit-content;
        max-width: 80%;
        align-self: flex-end;
        backdrop-filter: blur(5px);
     }
     .dialogRecieve p, .dialogSent p {
        font-size: 16px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.7);
    }
    .dialogRecieve span, .dialogSent span {
        font-size: 12px;
        font-weight: 400;
        color: hsla(0, 0%, 100%, 0.5);
    }
}


/* Messages App */
.messages-app {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-shrink: 0;
    z-index: 0;
    .app-header {
        width: 100%;
        display: flex;
        padding: 55px 30px 12px 25px;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        background: hsla(0, 0%, 100%, 0.5);
        backdrop-filter: blur(20px);
        color: hsla(0, 0%, 60%, 1);
        box-shadow: 0 0 50px 0 hsla(0, 0%, 0%, 0.2);
        .material-symbols-outlined {
            font-size: var(--text-2xl);
            color: hsla(0, 0%, 60%, 1);
        }
    }
    .app-footer {
        width: 100%;
        display: flex;
        height: 90px;
        padding: 12px 24px 40px 24px;
        align-items: center;
        gap: 4px;
        flex-shrink: 0;
        align-self: stretch;
        background: hsla(0, 0%, 100%, 0.5);
        backdrop-filter: blur(20px);
        color: hsla(0, 0%, 60%, 1);
        box-shadow: 0 0 50px 0 hsla(0, 0%, 0%, 0.25);
        .material-symbols-outlined {
            font-size: var(--text-2xl);
            color: hsla(0, 0%, 60%, 1);
        }
    }
    .messages {
        width: 100%;
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        gap: 6px;
        padding: 15px 20px;
        overflow-y: auto;
        .messageRecieve {
            opacity: 0;
            align-self: flex-start;
            display: flex;
            flex-direction: row;
            gap: 5px;
            display: none;
         }
         .messageSent {
            opacity: 0;
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            gap: 5px;
            display: none;
         }
         img.avatar {
            width: 38px;
            height: 38px;
            opacity: 0.8;
            align-self: flex-start;
            &.blank {
                opacity: 0;
            }
         }
        .messageRecieve p, .messageSent p {
            font-size: 16px;
            font-weight: 400;
            color: hsla(0, 0%, 25%, 1);
            border-radius: 20px;
            padding: 7px 13px 10px 13px;
            border: solid hsla(0, 0%, 100%, 0.1);
            border-width: 1px 0 0 1px;
            background-color: hsla(0, 0%, 100%, 0.6);
            width: fit-content;
            max-width: 90%;
            align-self: flex-start;
            backdrop-filter: blur(5px);
        }
        .messageRecieve span, .messageSent span {
            font-size: 12px;
            font-weight: 400;
            color: hsla(0, 0%, 80%, 1);
            align-self: flex-end;
        }
    }
}


/* 響應式縮放 */
@media (max-width: 480px) {
    .phone {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@media (max-width: 768px) {
    .phone {
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@media (min-width: 1200px) {
    .phone {
        transform: translate(-50%, -50%) scale(1);
    }
}

@media (min-width: 1600px) {
    .phone {
        transform: translate(-50%, -50%) scale(1.2);
    }
}